<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="xh.nfcscan">

    <!-- nfc权限 -->
    <uses-permission android:name="android.permission.NFC" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
