<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="xh.formmodules.TestActivity" />
        <activity android:name="xh.formmodules.FactorySelectActivity"
            android:theme="@style/LoginPageTheme">

        </activity>
    </application>

</manifest>